body {
  font-family: sans-serif;
}

input[type="text"] {
  width: 80%;
}

#provider-list li {
  display: inline;
  margin-right: 2em;
}

#no-search {
  text-align: center;
  padding: 3em;
  width: 100%;
}

.info-value {
  margin-left: 0.5em;
}
